.formation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    a{
        background-color: $white;
        height: 375px;
        width: $col10;
        
        .card-formation-experience{
            height: 375px;
            width: $col12;
            display: flex;
            justify-content: center;
            align-items: center;
            @include little-phone{
                flex-direction: column;
            }
            .top-card-formation-experience{
                color: $primary;
                font-size: 30px;
            }
            .bottom-card-formation-experience{
                display: none;
                color: $white;
                li i{
                    padding-right: 20px;
                    color: $black;
                }
            }
        }
        .card-formation-school{
            height: 375px;
            width: $col12;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary;
            @include little-phone{
                flex-direction: column;
            }
            .top-card-formation-school{
                color: $white;
                font-size: 30px;
            }
            .bottom-card-formation-school{
                display: none;
                color: $white;
                li i{
                    padding-right: 20px;
                    color: $black;
                }
            }
        }
        &:hover{
            .card-formation-experience{
                height: 375px;
                width: $col12;
                display: flex;
                justify-content: center;
                align-items: center;
                @include little-phone{
                    height: auto;
                    justify-content: initial;
                }
                .top-card-formation-experience{
                    color: $primary;
                    width: $col5;
                    text-align: center;
                    animation: formationTop 0.5s;
                    @include little-phone{
                        width: $col12;
                    }
                    h2{
                        @include phone{
                            font-size: 30px;
                        }
                        @include little-phone{
                            padding: 10px 0;
                        }
                    }
                }
                .bottom-card-formation-experience{
                    display: block;
                    color: $white;
                    background-color: $primary;
                    width: $col7;
                    height: 375px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: experiencesBottom 1s;
                    @include little-phone{
                        width: $col11;
                    }
                    ul{
                        li{
                            color: $white;
                            @include phone{
                                font-size: 20px;
                            }
                            @include little-phone{
                                font-size: 15px;
                            }
                        }
                    }
                    i{
                        padding-left: 50px;
                        font-size: 60px;
                        @include phone{
                            font-size: 40px;
                            padding-right: 20px;
                        }
                    }
                }
            }            
            .card-formation-school{
                height: 375px;
                width: $col12;
                display: flex;
                justify-content: center;
                align-items: center;
                @include little-phone{
                    height: auto;
                    justify-content: initial;
                }
                .top-card-formation-school{
                    width: $col5;
                    text-align: center;
                    animation: formationTop 0.5s;
                    @include little-phone{
                        order: 1;
                        width: $col12;
                    }
                    h2{
                        @include phone{
                            font-size: 30px;
                        }
                        
                    }
                }
                .bottom-card-formation-school{
                    display: block;
                    color: $primary;
                    background-color: $white;
                    width: $col7;
                    height: 375px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: schoolBottom 1s;
                    @include little-phone{
                        width: $col11;
                    }
                    ul{
                        li{
                            color: $primary;
                            @include phone{
                                font-size: 20px;
                            }
                            @include little-phone{
                                font-size: 15px;
                            }
                        }
                    }
                    i{
                        padding-left: 50px;
                        font-size: 60px;
                        @include phone{
                            font-size: 40px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}