.home{
    display: flex;
    justify-content: center;
    .home-card{
        margin: 100px 0;
        display: flex;
        background-color: $white;
        width: $col11;
        border: 5px solid $primary;
        @include phone{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
        }
        @include ecran{
            width: $col10;
        }
        .home-card-top{
            padding: 50px 0;
            width: $col10;
            @include phone{
                width: auto;
                text-align: center;
                padding: 30px 0;         
            }
            img{
                margin-left: 15%;
                width: $col6;
                border-radius: 5%;
                @include phone{
                    margin: 0;
                    width: $col10;
                }
            }
        }
        .home-card-bottom{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $primary;
            font-size: 50px;
            width: $col8;
            @include ecran{
                font-size: 45px;
            }
            @include tablette{
                font-size: 35px;
            }
            @include phone{
                width: auto;
            }
            @include little-phone{
                font-size: 20px;
            }
        }
    }
}