.contact{
    background-color: $white;
    .contact-message{
        height: 125px;
        background-color: #0ebca5;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: $white;
            font-size: 40px;
        }
    }
    .formulaire{
        height: 525px;
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            position: relative;
            left: -100px;
        }
        #email{
            width: 200%;
        }
        #second_email{
            width: 200%;
        }
        #sujet{
            width: 200%;
        }
        #message{
            width: 200%;
            padding: 5px 5px 150px 5px;
        }
        .btn-contact{
            position: relative;
            left: 25px;
            width: 180%;
            height: 45px;
            color: $white;
            background-color: $primary;
            border: none;
            font-family: 'Lobster';
            font-size: 20px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                font-size: 25px;
            }
        }
    }
}