.formation{
    a{
        display: flex;
        height: 770px;
        .first-part-formation{
            display: flex;
            align-items: center;
            justify-content: center;
            width: $col6;
            border-right: 1px solid black;
            &:hover{
                background-color: $primary;
                display: block;
                p{
                    position: relative;
                    top:50px;
                    left: 50px;
                }
            }
        }
        .second-part-formation{
            display: flex;
            align-items: center;
            justify-content: center;
            width: $col6;
        }
    }
}