@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lobster', cursive;
  font-style: normal;
  background-color: #e6e6e6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'MuseoModerno', cursive;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}

@-webkit-keyframes appearanceBio {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearanceBio {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes experiencesBottom {
  from {
    background-color: #FFFFFF;
  }
  to {
    background-color: #0ebca5;
  }
}

@keyframes experiencesBottom {
  from {
    background-color: #FFFFFF;
  }
  to {
    background-color: #0ebca5;
  }
}

@-webkit-keyframes formationTop {
  from {
    width: 100%;
  }
  to {
    width: 41.66%;
  }
}

@keyframes formationTop {
  from {
    width: 100%;
  }
  to {
    width: 41.66%;
  }
}

@-webkit-keyframes schoolBottom {
  from {
    background-color: #0ebca5;
  }
  to {
    background-color: #FFFFFF;
  }
}

@keyframes schoolBottom {
  from {
    background-color: #0ebca5;
  }
  to {
    background-color: #FFFFFF;
  }
}

@-webkit-keyframes moveLeft {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveLeft {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes contact {
  0% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  20% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  60% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  80% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@keyframes contact {
  0% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  20% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  40% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  60% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  80% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-card {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  width: 91.66%;
  border: 5px solid #0ebca5;
}

.home .home-card .home-card-top {
  padding: 50px 0;
  width: 83.33%;
}

.home .home-card .home-card-top img {
  margin-left: 15%;
  width: 50%;
  border-radius: 5%;
}

.home .home-card .home-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #0ebca5;
  font-size: 50px;
  width: 66.66%;
}

.biographie .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: appearanceBio 2s;
          animation: appearanceBio 2s;
}

.biographie .profil a {
  width: 33.33%;
}

.biographie .profil a img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.biographie .profil .column {
  width: 58.33%;
  padding-left: 20px;
  padding-top: 20px;
}

.biographie .profil .column h2 {
  padding-bottom: 25px;
}

.biographie .profil .column p {
  padding-left: 20px;
}

.biographie .objectif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: appearanceBio 3s;
          animation: appearanceBio 3s;
}

.biographie .objectif .top-card-biographie {
  width: 58.33%;
}

.biographie .objectif .top-card-biographie h2 {
  padding-bottom: 25px;
}

.biographie .objectif .top-card-biographie p {
  padding-left: 20px;
}

.biographie .objectif .bottom-card-biographie {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.biographie .objectif .bottom-card-biographie a {
  width: 41.66%;
}

.biographie .objectif .bottom-card-biographie a img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.formation a {
  background-color: #FFFFFF;
  height: 375px;
  width: 83.33%;
}

.formation a .card-formation-experience {
  height: 375px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formation a .card-formation-experience .top-card-formation-experience {
  color: #0ebca5;
  font-size: 30px;
}

.formation a .card-formation-experience .bottom-card-formation-experience {
  display: none;
  color: #FFFFFF;
}

.formation a .card-formation-experience .bottom-card-formation-experience li i {
  padding-right: 20px;
  color: #111111;
}

.formation a .card-formation-school {
  height: 375px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0ebca5;
}

.formation a .card-formation-school .top-card-formation-school {
  color: #FFFFFF;
  font-size: 30px;
}

.formation a .card-formation-school .bottom-card-formation-school {
  display: none;
  color: #FFFFFF;
}

.formation a .card-formation-school .bottom-card-formation-school li i {
  padding-right: 20px;
  color: #111111;
}

.formation a:hover .card-formation-experience {
  height: 375px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formation a:hover .card-formation-experience .top-card-formation-experience {
  color: #0ebca5;
  width: 41.66%;
  text-align: center;
  -webkit-animation: formationTop 0.5s;
          animation: formationTop 0.5s;
}

.formation a:hover .card-formation-experience .bottom-card-formation-experience {
  display: block;
  color: #FFFFFF;
  background-color: #0ebca5;
  width: 58.33%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: experiencesBottom 1s;
          animation: experiencesBottom 1s;
}

.formation a:hover .card-formation-experience .bottom-card-formation-experience ul li {
  color: #FFFFFF;
}

.formation a:hover .card-formation-experience .bottom-card-formation-experience i {
  padding-left: 50px;
  font-size: 60px;
}

.formation a:hover .card-formation-school {
  height: 375px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formation a:hover .card-formation-school .top-card-formation-school {
  width: 41.66%;
  text-align: center;
  -webkit-animation: formationTop 0.5s;
          animation: formationTop 0.5s;
}

.formation a:hover .card-formation-school .bottom-card-formation-school {
  display: block;
  color: #0ebca5;
  background-color: #FFFFFF;
  width: 58.33%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: schoolBottom 1s;
          animation: schoolBottom 1s;
}

.formation a:hover .card-formation-school .bottom-card-formation-school ul li {
  color: #0ebca5;
}

.formation a:hover .card-formation-school .bottom-card-formation-school i {
  padding-left: 50px;
  font-size: 60px;
}

.contact {
  background-color: #FFFFFF;
}

.contact .contact-message {
  height: 125px;
  background-color: #0ebca5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-message h2 {
  color: #FFFFFF;
  font-size: 40px;
}

.contact .contact-message h2:hover {
  -webkit-animation: contact 1s;
          animation: contact 1s;
}

.contact .formulaire {
  height: 525px;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .formulaire form {
  position: relative;
  left: -100px;
}

.contact .formulaire #email {
  width: 200%;
}

.contact .formulaire #second_email {
  width: 200%;
}

.contact .formulaire #sujet {
  width: 200%;
}

.contact .formulaire #message {
  width: 200%;
  padding: 5px 5px 150px 5px;
}

.contact .formulaire .btn-contact {
  position: relative;
  left: 25px;
  width: 180%;
  height: 45px;
  color: #FFFFFF;
  background-color: #0ebca5;
  border: none;
  font-family: 'Lobster';
  font-size: 20px;
  border-radius: 10px;
}

.contact .formulaire .btn-contact:hover {
  cursor: pointer;
  font-size: 25px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #FFFFFF;
}

header .header .first-part-header {
  width: 66.66%;
}

header .header .first-part-header h1 {
  padding-left: 20px;
  color: #111111;
}

header .header .first-part-header h1:hover {
  color: #0ebca5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header .second-part-header {
  width: 33.33%;
}

header .header .second-part-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header .second-part-header ul li:hover {
  -webkit-box-shadow: 0px 3px 0px 0px #0ebca5;
          box-shadow: 0px 3px 0px 0px #0ebca5;
}

header .header .second-part-header ul li .contact {
  color: #0ebca5;
}

footer {
  background-color: #e7e7e7;
  height: 100px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer ul li {
  padding-right: 25px;
  font-size: 20px;
}

footer .footer ul li i:hover {
  color: #0ebca5;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .project-header {
  height: 150px;
  width: 91.66%;
  background-color: #FFFFFF;
  padding-top: 25px;
  margin-bottom: 30px;
}

.project .project-header .project-header-title {
  text-align: center;
}

.project .project-header .project-header-title h3 {
  padding: 20px 0;
  font-size: 30px;
}

.project .project-header .project-header-title h4 {
  color: #0ebca5;
  font-size: 35px;
}

.project .project-header .arrow {
  position: absolute;
  top: 130px;
  left: 100px;
  font-size: 30px;
}

.project .project-body {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91.66%;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .project-body img {
  width: 58.33%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .project-body p {
  width: 41.66%;
  margin-left: 3%;
  padding: 10px;
  height: 100%;
  background-color: #FFFFFF;
}

.project .project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 33.33%;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.project .project-footer h4 {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.project .project-footer .project-footer-github {
  text-align: center;
}

.project .project-footer .project-footer-github i {
  font-size: 60px;
}

.project .project-footer .project-footer-page {
  text-align: center;
}

.project .project-footer .project-footer-page i {
  font-size: 60px;
}

.formations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formations a {
  position: absolute;
  top: 130px;
  left: 150px;
  font-size: 30px;
}

.formations h3 {
  text-align: center;
  padding: 80px 0;
  font-size: 30px;
  width: 91.66%;
  background-color: #FFFFFF;
  color: #0ebca5;
}

.formations .card-formation-first {
  height: 200px;
  width: 91.66%;
  background-color: #0ebca5;
  color: #FFFFFF;
  -webkit-animation: moveLeft 1s;
          animation: moveLeft 1s;
}

.formations .card-formation-first .top-card-formation-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formations .card-formation-first .top-card-formation-first i {
  padding: 0 15px 0 200px;
}

.formations .card-formation-first .bottom-card-formation-first {
  margin: 20px 0;
  padding-left: 15%;
}

.formations .card-formation-second {
  height: 230px;
  width: 91.66%;
  background-color: #FFFFFF;
  -webkit-animation: moveRight 1s;
          animation: moveRight 1s;
}

.formations .card-formation-second .top-card-formation-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formations .card-formation-second .top-card-formation-second i {
  padding: 0 15px 0 200px;
}

.formations .card-formation-second .bottom-card-formation-second {
  margin: 20px 0;
  padding-left: 15%;
}

.school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.school a {
  position: absolute;
  top: 130px;
  left: 50px;
  font-size: 30px;
}

.school .arrow {
  position: absolute;
  top: 130px;
  left: 150px;
  font-size: 30px;
}

.school h3 {
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
  width: 91.66%;
  background-color: #FFFFFF;
  color: #0ebca5;
}

.school .card-school-first {
  height: 220px;
  width: 91.66%;
  background-color: #0ebca5;
  color: #FFFFFF;
  padding-top: 25px;
  -webkit-animation: opacity 3s;
          animation: opacity 3s;
}

.school .card-school-first .top-card-school-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.school .card-school-first .top-card-school-first i {
  padding: 0 15px 0 200px;
}

.school .card-school-first .bottom-card-school-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.school .card-school-second {
  height: 600px;
  width: 91.66%;
  background-color: #FFFFFF;
  padding-top: 30px;
  -webkit-animation: moveUp 1s;
          animation: moveUp 1s;
}

.school .card-school-second .top-card-school-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.school .card-school-second .top-card-school-second i {
  padding: 0 15px 0 200px;
}

.school .card-school-second .bottom-card-school-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.school .card-school-second .bottom-card-school-second p {
  padding: 20px 0 40px 0;
}

.school .card-school-second .bottom-card-school-second .frise {
  white-space: nowrap;
  overflow-x: hidden;
}

.school .card-school-second .bottom-card-school-second .frise ol {
  font-size: 0;
  width: 1500px;
  padding: 100px 0 250px 0;
  background: #e9e9e9;
}

.school .card-school-second .bottom-card-school-second .frise ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 195px;
  height: 3px;
  background: #111111;
}

.school .card-school-second .bottom-card-school-second .frise ol li:last-child {
  width: 195px;
}

.school .card-school-second .bottom-card-school-second .frise ol li:not(:first-child) {
  margin-left: 14px;
}

.school .card-school-second .bottom-card-school-second .frise ol li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: #0ebca5;
}

.school .card-school-second .bottom-card-school-second .frise ol li a div {
  position: absolute;
  left: calc(100% - 15px);
  top: -120px;
  width: 125px;
  padding: 60px 20px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover div {
  position: absolute;
  left: calc(100% - 25px);
  top: -120px;
  width: 125px;
  padding: 80px 30px;
  font-size: 20px;
  white-space: normal;
  color: black;
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .eve {
  background-image: url("./../img/twitter.PNG");
  background-size: cover;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .reservia {
  background-image: url("./../img/reservia.PNG");
  background-size: cover;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .ohmyfood {
  background-image: url("./../img/ohmyfood.PNG");
  background-size: cover;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .chouette {
  background-image: url("./../img/chouette.PNG");
  background-size: cover;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .orinico {
  background-image: url("./../img/orinoco.PNG");
  background-size: cover;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .piquante {
  background-image: url("./../img/piquante.PNG");
  background-size: 175px 250px;
}

.school .card-school-second .bottom-card-school-second .frise ol li a:hover .groupomania {
  background-image: url("./../img/groupomania.PNG");
  background-size: cover;
}
/*# sourceMappingURL=index.css.map */